@import url('https://fonts.googleapis.com/css?family=Poiret+One');
html{
  height: 100%;
  background-image: url("../images/fondAnnonce.png");
  background-size: 100%;
}
body, main {
  min-height: 100%;
}

.carousel{
  height: 100vh;
}
.announce{
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
              "infos title colorfill"
              "message message message"
              ". . qr";
}

.Ablue
{
  background-color: rgb(61, 84, 143) !important;
}
.Ared
{
  background-color: rgb(149, 35, 24) !important;
}
.Agreen
{
  background-color: rgb(35, 99, 56) !important;
}

.colorfill{
  grid-area: colorfill;

}
.infos{
  grid-area: infos;
}
.title{
  text-transform: uppercase;
  grid-area: title;
}
.message{
  grid-area: message;
}
.qr{
  grid-area: qr;
}
.poiret{
  font-family: 'Poiret One', cursive;
}
.message, .qr{
  margin: auto;
}
.s1{
  font-size: 1em !important;
}
.s2{
  font-size: 2em !important;
}
.s3{
  font-size: 3em !important;
}
.s4{
  font-size: 4em !important;
}
