@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
html{
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
#presdechezmoi{
  font-family: 'Lobster Two', cursive;
  font-size: 1.3em !important;
}
.maxh{
  min-height: 100vh;
}
.my1{
  margin-top: 1em;
  margin-bottom: 1em;
}
.py1{
  padding-top: 1em;
  padding-bottom: 1em;
}
.pb1{
  padding-bottom: 1em;
}
.opacgreyText{
  color: #7a8b85 !important;
}
.opacgrey{
  background-color: #7a8b85 !important;
}
.opacgreenText{
  color: #a5a129 !important;
}
.opacgreen{
  background-color: #a5a129 !important;
}
.height100{
  height: 90%;
}
.card-image img{
  transition: all 1s ease;
}
img:hover {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
}
.shadowText{
   text-shadow: 0px 0px 8px #000, 2px 2px 6px #000;
}
